<h2>Sign up</h2>

<%= turbo_frame_tag 'new-user' do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo_frame: '_top'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-control w-full max-w-xs">
      <label class="label"><span class="label-text">Email</span></label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered input-md w-full max-w-xs" %>
    </div>

    <div class="form-control w-full max-w-xs">
      <label class="label"><span class="label-text">Password</span></label>
      <%= f.password_field :password, autocomplete: "off", class: "input input-bordered input-md w-full max-w-xs" %>
    </div>

    <div class="form-control w-full max-w-xs">
      <label class="label"><span class="label-text">Password confirmation</span></label>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "input input-bordered input-md w-full max-w-xs" %>
    </div>

    <div class="my-4">
      <%= f.submit "Sign up", class: "inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900 mr-4" %>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
<% end %>