<% if resource.errors.any? %>
  <div id="error_explanation" class="text-sm text-white font-medium alert-error shadow-lg mg-8 block bg-red-600 rounded-md">
    <div class="mb-4">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </div>
    <ul class="text-sm block list-disc ml-8">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
