<div class="form_control">
  <label class="label"><span class="label-text">Type your address</span></label>
  <div class="my-4">
    <%= f.text_area :address, class: "textarea textarea-bordered h-20 w-full" %>
  </div>
</div>