<div class="form_control">
  <label class="label"><span class="label-text">Type your country</span></label>
  <div class="my-4">
    <%= f.text_field :country, class: "input input-bordered w-full" %>
  </div>
</div>