<div class="form_control">
  <label class="label"><span class="label-text">Type your birth date</span></label>
  <div class="my-4">
    <%= f.date_field :dob, class: "input input-bordered w-full" %>
  </div>
</div>