<div class="form_control">
  <label class="label"><span class="label-text">Type your phone number</span></label>
  <div class="my-4">
    <%= f.telephone_field :phone, class: "input input-bordered w-full" %>
  </div>
</div>