<!DOCTYPE html>
<html>
  <head>
    <title>ProgressiveProfile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container mx-auto">
    <nav class="">
      <div class="container mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
          <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex-shrink-0 flex items-center">
              <img class="hidden lg:block h-8 w-auto" src="<%= image_url 'logo.png' %>" alt="Workflow">
            </div>
          </div>
          <div class="absolute inset-y-9 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
            LOGOUT
          </div>
        </div>
      </div>
    </nav>
    <hr />
    <div class="pt-8">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
